html,
html {
scroll-behavior: smooth;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* start editing from here */
a {
    text-decoration: none;
}
.txt-rt {
    text-align: right;
}
/* text align right */
.txt-lt {
    text-align: left;
}
/* text align left */
.txt-center {
    text-align: center;
}
/* text align center */

.float-rt {
    float: right;
}
/* float right */

.float-lt {
    float: left;
}
/* float left */

.clear {
    clear: both;
}
/* clear float */
.pos-relative {
    position: relative;
}
/* Position Relative */

.pos-absolute {
    position: absolute;
}
/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}
/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}
/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}
/* horizontal menu */

img {
    max-width: 100%;
}
/*end reset*/
html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
  font-family: 'Barlow', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:focus,
a:hover {
    text-decoration: none;
}
select,
input[type="email"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
textarea {
  font-family: 'Barlow', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
  font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
}
p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
  font-family: 'Barlow', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}
/*-- //Reset-Code --*/
body {background:url(../images/b1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}
h1.header-w3ls {
    padding: 31px 0px 25px;
	font-size:53px;
    text-align: center;
    text-transform:capitalize;
    color:#ffffff;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
    letter-spacing: 5px;
}
.main-bothside {
    width: 64%;
    padding: 2em 2em 2em;
    margin: 0em auto;
    -webkit-box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    -moz-box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    background: rgba(0, 0.55, 1.2, 0.44);
    border: #000 6px double;
}
.form-group,.parent-clss{
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.personal-info {
    flex-basis: 32%;
    -webkit-flex-basis: 32%;
    box-sizing: border-box;
}
.form-mid-w3ls {
    flex-basis: 31.4%;
    -webkit-flex-basis: 31.4%;
}
.form-check:nth-child(2),.form-check:nth-child(3) {
    margin-right: 9px;
}
.form-check {
    display: inline-block;
}

.personal-info p,label.form-check-label{
    font-size: 15px;
    padding: 6px 0px;
    color: #fff;
}
.parent-clss {
    padding-bottom:15px;
}
/*
.from-left-w3ls input[type="date"],
*/
.from-left-w3ls input[type="date"],.form-left-w3ls input[type="text"],.form-right-w3ls input[type="text"],.form-mid-w3ls input[type="email"],
 .form-mid-w3ls input[type="text"],.form-control-w3l textarea,.form-left-choose input[type="file"]{
    outline: none;
    width: 100%;
    color: #fff;
    font-size: 15px;
    padding: .7em 1em .8em 0em;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 0px 0px 16px;
    display: inline-block;
    background: none;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}
.form-control-w3l textarea {
    height:9em;
    overflow: hidden;
    resize: none;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}
button[type="submit"] {
    text-transform: uppercase;
    background: #fff;
    color: #000000;
    padding: .7em 0em;
    border: none;
    font-size: 1em;
    outline: none;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 1em;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
button[type="submit"]:hover {
    color: #fff;
    background: #000;
}
.form-left-choose input[type="file"]{
    border:none;
	padding:0px;
}
.copy {
    padding: 39px 0px;
}
.copy p {
    margin: 0em;
    text-align: center;
    font-size: 17px;
    color: white;
    letter-spacing: 2px;
}
.copy p a {
    color:#000;
    text-decoration: none;
}
.copy p a:hover {	color: #fff;}
/*--responsive--*/
@media(max-width:1920px){
h1.header-w3ls {
    font-size:60px;
}	
}
@media(max-width:1680px){
h1.header-w3ls {
    font-size: 57px;
	
}
}
@media(max-width:1600px){
	h1.header-w3ls {
    font-size: 53px;
	}
}
@media(max-width:1440px){
.main-bothside {
    width: 67%;
}
.form-left-w3ls input[type="text"], .form-right-w3ls input[type="text"], .form-mid-w3ls input[type="email"], .form-mid-w3ls input[type="text"], 
.form-control-w3l textarea, .form-left-choose input[type="file"] {
    margin: 0px 0px 13px;	
}
.copy {
    padding: 34px 0px;
}
}
@media(max-width:1366px){
h1.header-w3ls {
    font-size: 49px;
    padding: 28px 0px 23px;
}
}
@media(max-width:1280px){
.form-left-w3ls input[type="text"], .form-right-w3ls input[type="text"], .form-mid-w3ls input[type="email"], .form-mid-w3ls input[type="text"], .form-control-w3l textarea, 
.form-left-choose input[type="file"] {
    padding: .7em .8em .7em 0em;
}
.main-bothside {
    width: 72%;	
}
}
@media(max-width:1080px){
.main-bothside {
    width: 82%;
	   padding: 1.7em 1.7em 1.7em;	
}
.form-control-w3l textarea {
    height: 8em;
} 
}
@media(max-width:1050px){
.main-bothside {
    width: 84%;
    padding: 1.5em 1.4em 1.5em;
}	
}
@media(max-width:1024px){
h1.header-w3ls {
	    font-size: 46px;
    letter-spacing: 3px;
}	
.form-check {
    display: block;
	margin-top: 11px;
}
.form-check:nth-child(2), .form-check:nth-child(3) {
    margin-right: 0px;    
}
button[type="submit"] {
    font-size: .9em;
}
}
@media(max-width:991px){
.form-left-w3ls input[type="text"], .form-right-w3ls input[type="text"], .form-mid-w3ls input[type="email"], .form-mid-w3ls input[type="text"], .form-control-w3l textarea, .form-left-choose input[type="file"] {
    margin: 0px 0px 10px;
	    font-size: 14px;
    letter-spacing: 1px;
}
button[type="submit"] {
    margin-top: .8em;
}

}
@media(max-width:900px){
	h1.header-w3ls {
    font-size: 43px;
    letter-spacing: 2px;
}
.copy p {
    font-size: 16px;
}
.copy {
    padding: 30px 0px;
}
}
@media(max-width:800px){
	.form-control-w3l textarea {
    height: 7em;
}
.copy p {
    font-size: 15px;
}
}
@media(max-width:768px){
.main-bothside {
    width: 87%;
}
button[type="submit"] {
    margin-top: .7em;
}	
}
@media(max-width:767px){
	.parent-clss {
    padding-bottom: 13px;
}
}
@media(max-width:736px){
button[type="submit"] {
    padding: .6em 0em;
}
h1.header-w3ls {
    padding: 23px 0px 23px;
}	
}
@media(max-width:667px){
h1.header-w3ls {
    font-size: 41px;
    letter-spacing: 1px;
}	
}
@media(max-width:640px){
.form-control-w3l textarea {
    height: 6em;
}
.copy p {
    font-size: 14px;
}	
}
@media(max-width:600px){
	h1.header-w3ls {
    font-size: 39px;
	}
	.copy {
    padding: 27px 0px;
}
}
@media(max-width:568px){
.form-group {
    flex-direction: column;
    -webkit-flex-direction: column;
}	
.copy p {
    letter-spacing: 1px;
}
}
@media(max-width:480px){
.main-bothside {
    width: 79%;
}
.copy p {
    padding: 0px 10px;
    line-height: 28px;
}	
}
@media(max-width:440px){
.parent-clss {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.personal-info:nth-child(2) {
    margin: 17px 0px;
}
}
@media(max-width:414px){
.copy {
    padding: 23px 0px;
}
h1.header-w3ls {
    font-size: 37px;
}	
}
@media(max-width:384px){
.main-bothside {
    padding: 1em 1.4em 1em;
}	
}
@media(max-width:375px){
.form-check {
    margin-top: 8px;
}
.form-left-w3ls input[type="date"], .form-right-w3ls input[type="text"],.form-right-w3ls input[type="text"], .form-mid-w3ls input[type="email"], .form-mid-w3ls input[type="text"], .form-control-w3l textarea, .form-left-choose input[type="file"] {
    margin: 0px 0px 8px;
}	
}
@media(max-width:320px){
.main-bothside {
    width: 73%;
}
.personal-info:nth-child(2) {
    margin: 10px 0px;
}
}
/*--//responsive--*/